*{
    box-sizing: border-box;
    font-family: Cambria, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../images/bg8.jpg');
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    min-height: 100vh;
    width: 100%;
    background-color:rgba(110, 130, 139,0.5);
    backdrop-filter: blur(3px);
}
.back_to_home{
    margin: 20px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}

.login_form input{
    padding: 10px;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    font-size: 20px;
    margin: 10px auto;
    width: 94%;
    background-color: transparent;
}
.login_form{
    padding: 30px;
    width: 400px;
    max-width: 80%;
    background-color: #fff;
    margin: 10px auto;
    border-radius: 10px;
}

.login_form button{
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: gold;
    border-color: gold;
    outline: none;
    border-radius: 5px;
    color: #000;
    text-transform: uppercase;
}

.login_form a{
    text-decoration: none;
    color: blue;
}
