.main, .reason_container{
    min-height: 90vh;
    text-align: center;
    background-color: var(--body);
    width: 100%;
}

.reason_container{
    padding-top: 50px;
}

.main_orders{
    min-height: 90vh;
    background-image: url('../images/bg9.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.main_box{
    color: var(--white);
    padding: 30px;
    min-height: 100vh;
    width: 100%;
    background-color:rgba(110, 130, 139,0.5);
    backdrop-filter: blur(3px);
}

.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
    row-gap: 30px;
}

.box{
    padding: 30px;
    text-align: left;
    /* border: 1px solid var(--black); */
    width: 600px;
    margin: auto;
    max-width: 85%;
    background-color: var(--body);
    color: var(--black);
}

.box .details p{
    color: var(--light-color);
    font-weight: 900;
}

.box .details p span, .box .details .orders p{
    color: var(--black);
}

.box .time{
    text-align: right;   
}

.no_orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.no_orders img{
    width: 250px;
    margin: 40px;
}

.btn{
    background-color: var(--danger);
    font-size: 15px;
    border: none;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
}
.btn:hover {
    background-color: darkred;
    cursor: pointer;
}
.reason-form {
    border: 1px solid var(--black);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    margin: auto;
}

.reason-form textarea{
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--black);
}

.order_btn{
    margin-top: 10px;
    background-color: var(--main-color);
    font-size: 17px;
    border: none;
    color: var(--black);
    padding: 10px 20px;
    cursor: pointer;
}
