.main{
    min-height: 90vh;
    text-align: center;
    padding: 30px;
    background-color: var(--body);
}

.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    line-height: 30px;
    row-gap: 30px;
}

.box{
    padding: 30px;
    text-align: left;
    border: 1px solid var(--black);
    width: 600px;
    margin: auto;
    max-width: 85%;
}

.box .details p{
    color: var(--light-color);
}

.box .details p span, .box .details .orders p{
    color: var(--black);
}

.box .time{
    text-align: right;   
}

.no_orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.no_orders img{
    width: 250px;
    margin: 40px;
}

.btn{
    background-color: var(--danger);
    font-size: 15px;
    border: none;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
}
.btn:hover {
    background-color: darkred;
    cursor: pointer;
}
.reason-form {
    border: 1px solid var(--black);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    margin: 30px auto;
}

.reason-form textarea{
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid var(--black);
}

.error{
    color: var(--danger);
}