@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&family=Montserrat:wght@400;600&family=Quicksand:wght@300;500;600&display=swap');

body{
    background-color: cornflowerblue;
    font-family: 'Quicksand', sans-serif;
}
.back_to_home{
    margin: 20px;
}
.back_to_home a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    padding: 5px 20px;
    width: 50%;
}
.signup_form input{
    padding: 10px;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    font-size: 20px;
    margin: 10px auto;
    width: 94%;
}
.signup_form{
    padding: 10px 30px;
    width: 350px;
    max-width: 80%;
    background-color: #fff;
    margin: 30px auto;
}

.signup_form button{
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    outline: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

.signup_form a{
    text-decoration: none;
    color: blue;
}
