.main{
    min-height: 100vh;
    text-align: center;
    padding: 30px;
    background-color: var(--body);
}

.container{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    background-color: var(--white);
    width: 270px;
    height: 160px;
    border-radius: 10px;
    color: var(--special);
    position: relative;
    text-align: left;
    padding: 20px;
    margin: 20px;
}

.box i{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
}

.box:hover{
    background-color: var(--color);
    color: var(--admin);
}

