.main{
    min-height: 100vh;
    padding: 30px;
    background-color: var(--body);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.message_box{
    border: 2px solid var(--black);
    background-color: var(--white);
    width: 350px;
    padding: 20px;
    line-height: 1.7rem;
    margin: 20px;
}

.btn{
    background-color: var(--danger);
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    color: var(--white);
    cursor: pointer;
    margin-top: 10px;
}