.main{
    min-height: 100vh;
    text-align: center;
    padding: 30px;
    background-color: var(--body);
    font-size: 17px;
}

.order_table{
    margin: auto;
}

.order_table thead{
    background-color: var(--special);
    color: var(--white);
}

.order_table tbody form tr :nth-child(even){
    background-color: 
    #dbdefd ;
}

.order_table, th, td{
    border: 1px solid var(--black);
    border-collapse: collapse;
    padding: 5px;
}

.status{
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
}

.btn{
    background-color: var(--danger);
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    color: var(--white);
}